.mainLayout {
  min-height: 100vh;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: var(--radius);
  max-width: 1200px;
  width: 100%;
}

.worksContainer {
  display: flex;
  gap: 20px;
  padding-left: 5px;
}

.worksPreview, .works {
  border-radius: var(--radius);
}

.worksPreview {
  width: 65%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.work {
  margin: 0;
  width: 100%;
}

.workImage {
  width: 100%;
  display: block;
  border-radius: var(--radius);
}

.workDescription {
  font-size: 14px;
  margin-top: 10px;
}

.workTechnologies {
  font-style: italic;
  font-size: smaller;
}

.worksTitles {
  border-radius: var(--radius);
  width: 35%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.worksTitles a {
  font-weight: 600;
}

.worksList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.worksListItem {
  cursor: pointer;
  font-weight: 500;
  padding: 0;
  margin-bottom: 15px;
  transition: color 0.5s, transform 0.5s;
}

.worksListItem:hover {
  color: white;
  transform: translateX(5px);
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    background-color: unset;
    backdrop-filter: unset;
  }

  .worksContainer {
    flex-wrap: wrap-reverse;
  }

  .worksPreview, .worksTitles {
    width: 100%;
  }

  .worksTitles {
    flex-direction: row;
    gap: 10px
  }

  .worksListItem {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 550px) {
  .mainLayout {
    padding: 0;
  }

  .worksContainer, .mainContainer {
    gap: 10px;
  }

  .mainContainer {
    border-radius: 0px;
  }
}