.footer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.copyright {
  font-size: 14px;
}

.divider {
height: 0.5px;
width: 50%;
background-color: #CACACA;
}

.socials {
  display: flex;
  gap: 20px;
}

.socialLink {
  width: 30px;
  height: 30px;
}

.socialImg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #cacaca;
  transition: fill 0.5s, transform 0.5s;
}

.socialLink:hover .socialImg {
  transform: translateY(-5px);
  fill: white;
}