:root {
  --radius: 15px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  line-height: 18px;
  color: #CACACA;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  position: relative;
}

#root {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

h2, h3 {
  color: white;
  margin: 0 0 10px 0;
  line-height: 20px;
}

h4 {
  margin: 10px 0 5px 0;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

a:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  body {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  canvas {
    display: none;
  }
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}