:root {
  --radius: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #CACACA;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
  /* background: radial-gradient(rgb(213, 17, 57), blue) */
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

h2, h3 {
  color: white;
  margin: 0 0 10px 0;
}

h4 {
  margin: 10px 0 5px 0;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

a:hover {
  color: white;
}